.arrow {
  --w: 56px;
  --h: 56px;
  @apply relative w-[var(--w)] h-[var(--h)] rounded-full flex items-center justify-center;

  &:before {
    content: '';
    @apply block absolute top-0 left-0 w-full h-full rounded-full animate-spin-slow opacity-75;
    background-image: linear-gradient( 112.4deg,  rgba(169,28,115,1) 21.6%, rgba(219,112,54,1) 92.2% );
  }

  &:after {
    content: '';
    @apply absolute bg-woodsmoke-950 animate-spin-slow rounded-full;
    height: calc(var(--h) - 2px);
    width: calc(var(--w) - 1px);
  }
}