@import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/free-mode';

@font-face {
  font-family: 'Fivo Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/fivo-sans/fivosans-bold-webfont.woff2) format('woff2');
}

@font-face {
  font-family: 'Fivo Sans';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(/fonts/fivo-sans/fivosans-heavy-webfont.woff2) format('woff2');
}

:root {
  --font-fivo: 'Fivo Sans', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
}

body {
  overflow-x: hidden;
}

/* .bleed-px {
  padding: 0 var(--container-px);

  @media (min-width: 834px) {
    padding: 0 var(--container-px-md);
  }

  @media (min-width: 1200px) {
    padding: 0 calc((var(--full-width) - var(--screen-lg)) / 2);
  }
} */

.swiper-wrapper .swiper-slide:first-child {
  padding-left: var(--container-px);

  @media (min-width: 834px) {
    padding-left: var(--container-px-md);
  }

  @media (min-width: 1200px) {
    padding-left: calc((var(--full-width) - var(--screen-lg)) / 2);
  }
}

.swiper-wrapper {
  @apply pb-8;
}

.swiper-wrapper .swiper-slide:not(:last-child) {
  @apply mr-8;
}

.swiper-wrapper .swiper-slide:last-child {
  padding-right: var(--container-px);

  @media (min-width: 834px) {
    padding-right: var(--container-px-md);
  }

  @media (min-width: 1200px) {
    padding-right: calc((var(--full-width) - var(--screen-lg)) / 2);
  }
}

.swiper-pagination-bullet {
  @apply bg-primary;
}


